@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@700&display=swap');
/* div{
    font-size: medium;
} */
.header {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
}
#owner{
    color: red;
}
* {
    font-family: "Vazirmatn", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    direction: rtl;
    text-align: center;
}
/* body {
    font-family: "Vazirmatn", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} */